@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: space-mono;
    src: url('../fonts/SpaceMono-Bold.ttf');
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background {
  background-color: hsl(185, 41%, 84%);
}

.header {
  color: #335859;
  letter-spacing: .40em;
}

input:focus {
  outline: none;
  border: 0px;
}

.column {
  width: 380px;
}

.smallTxt {
  font-size: 13px;
}

.resetBtn {
  background-color: #0C686D;
  color: #035D62;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}